# Ignore virtual environment
venv/

# Ignore ZIP files
*.zip

# Ignore Python cache
__pycache__/
*.pyc

# Ignore database files
*.sqlite3

# Ignore environment variables
.env

# Ignore Mac system files (if any)
.DS_Store
